@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Poppins:wght@600&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Roboto:wght@400&display=swap');

body{
  margin: 0;
  font-family: 'Poppins', sans-serif;
}
.bg-header{
  background: url(../img/bg.png)  no-repeat center center/cover;
  height: 120vh;
}
.container{
  width: 1100px;
  margin: auto;
}
header{
  height: 100vh;
}
#navbar{
  display: flex;
  position: relative;
  justify-content: space-between;
  padding-top: 1.5rem;
}

nav div {
  display: flex;
  width: 200px;
  margin-bottom: 2rem;
}
#logo{
  width: 60px;
  height: 60px;
  padding-right: 0.5rem;
}
nav p {
  color: #fff;
  font-size: 25px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  margin-top: 1rem;
}

.menu-wrap{
  display: none;
}
nav .manul {
  display: flex;
  list-style: none;
  margin-top: 0;
}
a {
  text-decoration: none;

}
nav ul li{
  padding: 1rem;
}
nav ul li:last-child{
  padding-right: 0;
}

nav ul li a {
  color: #fff;
  padding-bottom: 0.3rem;
  font-size: 16px;
  border-bottom: transparent solid 3px;
  transition: all 0.2s; 
}
nav ul li a:hover{
  border-color: blue;
}
nav ul li a.current{
  background-color: #fff;
  color: #111;
  padding: 0.5rem 1rem ;
  border-radius: 50px;
  border: none;
}
/* showcase */
#showcase{
  display: flex;
  justify-content: space-between;
  align-items: start;
  color: #fff;

}
#showcase h1{
  width: 450px;
}

#showcase a{
  background: rgb(248, 247, 247);
  padding: 1rem;
  border-radius: 10px;
  color: black;
  margin-top: 3rem ;
}
#showcase p{
  font-family: 'Roboto', sans-serif;
  margin-bottom: 3rem ;
  width: 515px;
}
#showcase .img3 {
  width: 580px;
}

#showcase .img1{
  display: none
}

/* Why Us */
#why-us, #work {
  padding-top: 3rem;
  text-align: center;
}
#why-us p,#built p,#work p{
  font-family: 'Roboto', sans-serif;
  color: #707070;
  width: 560px;
  margin: 1.5rem auto;
}
/* built */
#built{
  display: flex;
}
#built .img0{
  width: 600px;
}
#built .img2{
  display: none;}

#built-txt{
  padding:6rem 2rem ;
}
#built-txt a{
  background: rgb(30, 30, 245);
  padding: 1rem 1.2rem 0.5rem 1.2rem;
  border-radius: 10px;
  color: rgb(248, 247, 247);
  margin-top: 2rem ;
}
#built-txt sup {
  font-size: 16px;
}
#built h2{
  width: 250px;
  line-height: 1.2;
}

/* Work */
#Work{
  align-content: center;
}
#form-cont{
  background-color: #333697;
  color: #eee ;
  width: 700px;
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem 3rem;
  text-align: left;
}
#form-cont h2{
  font-size: 1.7rem;
}
#form-cont p{
  color: #eee ;
  text-align: left;
  margin-left: 0;
}

label{
  color: #fff;
  width: 140px;
  display: block;
} 
input{
  border-radius: 50px;
  width: 470px ;
  height: 40px;
  padding: 0rem 2rem;
  border: none;
}
textarea{
  border-radius: 20px;
  width: 470px ;
  height: 130px;
  padding: 1.5rem 2rem;
  border: none;
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 14px;

}
#send{
  width: 100px;
  position: relative;
  background-color:  rgb(34, 0, 158);
  color: #eee;
  font-weight: 600;
  right:-425px;
  top: -80px;
}
form{
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-gap: 1rem;

}

/* Footer */

h6{
  margin: 0.5rem 0;
}

footer{
  background-color:#EBEBF8;
}

footer .container{
  display: flex;
  justify-content: space-between;
}
footer img{
  width: 120px;
  padding: 1rem 0 0.7rem 0;
}

footer h6{
  color: #677294;
  margin-top: 0;
  font-weight: 400;
}
.social{
  padding-top: 1.5rem;
}
.social .fab{
  margin-left: 1rem;
  border: 1px #9C9CA8 solid;
  color:#9C9CA8 ;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  padding: 0.3rem;
  box-sizing: content-box;
}

.link{
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 0;
}
.link a{
  font-size: 10px;
  color: #677294;
  text-decoration: none;
}
.link div{
  border: solid 1px #677294;
}